<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>SSG Web</display-name>

	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>start</param-value>
	</context-param>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>ssg-jdbc-realm</realm-name>
		<form-login-config>
			<form-login-page>/paginas/login/login.xhtml</form-login-page>
			<form-error-page>/paginas/login/login.xhtml?erro=true</form-error-page>
		</form-login-config>
	</login-config>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>ssg-web</web-resource-name>
			<url-pattern>/paginas/*</url-pattern>
			<url-pattern>/index.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>SSG_WEB</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-role>
		<role-name>SSG_WEB</role-name>
	</security-role>
	<security-role>
		<role-name>ADMIN</role-name>
	</security-role>
	<security-role>
		<role-name>AUTONOMO</role-name>
	</security-role>
	<security-role>
		<role-name>CLIENTE</role-name>
	</security-role>
</web-app>
